.container-one{
    display:flex;
    flex-wrap: wrap;
}

img{
    border: 3px solid black;
    width: 12vw;
    height: 12vh;
    margin-right: 2vw;
    margin-left: 6vw;
    margin-bottom: 4vh;
}

.video-description{
    border: 3px solid black;
    width: 65vw;
    margin-bottom: 4vh;
}

