.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 1px solid black;
}

.navbar img{
    height: 8vh;
    margin-left: 1vw;

}

.a{
    display: flex;
    align-items: center;
}

.b{
    display:flex;
    align-items: center;
}

.c{
    display:flex;
    align-items: center;
}

.d{
    display:flex;
    align-items:center;
}

.e{
    display: flex;
    align-items: center;
}

.f{
    display:flex;
    align-items: center;
}


.logo{
    margin-left: auto;
    display:flex;
    align-items:center;
    border:none
}

/*
.logo img{
    height: 4vh;
    width: 4vw;
    display: block;
    margin: auto;
}
*/
/*
.a img{
    height:3rem;
    width: 3rem;
    border-top: 2px solid black;
}
*/
/*
.b img{
    margin-top:1vh;
    height: 3vh;
    width: 2.5vw;
    display: block;
    margin: auto;
}
*/
/*
.c img{
    height: 3vh;
    width: 2.7vw;
    display:block;
    margin:auto;
}
*/
/*
.d img{
    height:3vh;
    width: 2.4vw;
    display:block;
    margin: auto;
}
*/
/*
.e img{
    height: 3vh;
    width: 1.8vw;
    display: block;
    margin: auto;
}
*/
/*
.f img{
    height: 4.8vh;
    display: block;
    margin: auto;
}
*/
