ul{
    list-style: none;
}

li img{
    width: auto;

}

th, td{
    border: 1px solid black;
}



table{
    border-collapse: collapse;
    border: 3px solid blue;
    margin: 10vw
}

table img{
    padding: 3rem;
    background-color: grey;
    he
}

.Unit, .tryouts{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    border: 3px solid blue;
}

